@import "../sass/variables";
@import "../sass/mixins";

.settings {
  h2 {
    font-family: "Staatliches", cursive;
    font-weight: lighter;
    margin-bottom: 3rem;
  }
  & > div {
    margin-bottom: 5rem;
    background-color: var(--color-secondary);
    padding: $--padding-section;
  }
  &__map {
    h2 {
      margin-bottom: 2rem;
    }
    & > div {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      img {
        width: 15rem;
        filter: brightness(0.4);
        cursor: pointer;
        transition: filter 0.2s;
        margin-bottom: 0.5rem;
        &:hover {
          filter: brightness(1);
        }
        &.active {
          filter: brightness(1);
          outline: 2px solid var(--color-accent);
        }
      }
    }
  }
  &__theme {
    .theme-squares {
      display: flex;
      gap: 2rem;
      .square {
        filter: brightness(0.5);
        &:hover {
          filter: brightness(1);
        }
        &.active {
          outline: 2px solid var(--color-accent);
          filter: brightness(1);
        }
      }
      h3 {
        margin-top: 0.5rem;
        text-align: center;
      }
    }
  }
  &__account {
    .input-group {
      display: flex;
      flex-direction: column;
      // max-width: 20rem;
      width: 100%;
      margin: 1rem 0;
    }
  }
}
