@import './sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Carrois+Gothic&family=Galdeano&family=Noto+Sans&family=Staatliches&display=swap');
:root{
--color-primary: rgb(12, 19, 27);
--color-secondary: rgb(25, 34, 48);
--color-accent: rgb(67, 61, 223);
--color-error: rgb(244, 69, 69);
--padding-section: 1.5rem;
--color-text: #fff;
}

body{
  background-color: var(--color-primary);
  color: var(--color-text);
  height: 100vh;
  font-family: 'Galdeano', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button{
  color: inherit;
  font-family: inherit;
  border: none;
}

input{
  font-family: 'Noto Sans', sans-serif;
  border: none;
  outline: none;
  padding:  0.2rem;
  &:focus{
    outline: 2px solid var(--color-accent);
    outline-offset: -2.5px;
  }
}

.error{
  color: var(--color-error);
}
